[submodule "nano/.nano"]
path = nano/.nano
url = http://github.com/scopatz/nanorc.git
[submodule "themes/.local/share/icons/la-capitaine-icon-theme"]
	path = themes/.local/share/icons/la-capitaine-icon-theme
	url = https://github.com/keeferrourke/la-capitaine-icon-theme
[submodule "themes/.local/share/icons/capitaine-cursors-git"]
	path = themes/.local/share/icons/capitaine-cursors-git
	url = https://github.com/keeferrourke/capitaine-cursors
[submodule "kak/.config/kak/autoload/kak-ansi"]
	path = kak/.config/kak/rc/kak-ansi
	url = https://github.com/eraserhd/kak-ansi
