## Base16 Classic Dark
# Author: Jason Heeris (http://heeris.id.au)

set $base00 #1A1A1A
set $base01 #262626
set $base02 #333333
set $base03 #545454
set $base04 #996632
set $base05 #CC8843
set $base06 #FFFFFF
set $base07 #999999
set $base08 #cc4343
set $base09 #cc4343
set $base0A #326699
set $base0B #669932
set $base0C #CCCCCC
set $base0D #996632
set $base0E #993266
set $base0F #ABABAB

