* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
    color: white;
}

window#waybar {
    border-bottom: 3px solid transparent;
    background: transparent;
}

window > box {
	margin: 10px;
    background: rgba(0, 0, 0, 0.5);
}

#workspaces button, #mode, #clock, #battery, #pulseaudio, #network, #memory, #backlight {
    padding: 0 10px;
}

#workspaces button {
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    border-bottom: 3px solid white;
}
/*
#mode {
    border-bottom: 3px solid white;
}
*/
#clock {
}

#battery.discharging {
    color: #90EE90;
}

#battery.charging {
    color: white;
}

@keyframes blink {
    to {
		background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    /*
    background: #f53c3c;
    */
    color: red;
}

#battery.critical:not(.charging) {
    /*
    background: #f53c3c;
    */
    color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}